{# templates/index.html #}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Celery SocketIO Demo</title>
</head>

<body>
    <h3>Logging</h3>
    <button id="background">Exceute</button>
    <button id="request">Request with namespace</button>
    <p id="log"></p>
</body>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        namespace = '/task';
        socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        socket.on('data', function(msg) {
            console.log(msg);
            $('#log').append('Recevied: ' + msg.data + '<br>');
        });
        $('#background').on('click', function() {
            $.get("{{ url_for('start_background_task') }}");
        })
        $('#request').on('click', function() {
            socket.emit('request', {'data': 'hello world!'} )
        })
    });
</script>

</html>
